<ion-header>
</ion-header>

<ion-content class="ion-padding ion-text-center ">
  <div class="container homepage ">
    <div class="page-header">
      <div class="logo">
        <h1>LOS PEDIDOS</h1><span>DE LA VECINDAD</span>
      </div>
    </div>
    <div class="center">
      <img src="../../assets/images/logo.png" />
    </div>
    <div class="button-container">
      <ion-button expand="block" class="login-button" routerLink="/login" routerDirection="forward">Iniciar
        Sesión</ion-button>
      <ion-button expand="block" class="signup-button" fill="clear" routerLink="/signup"
        routerDirection="forward">Registrarse</ion-button>
    </div>
  </div>
</ion-content>