<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="primary" class="backbtn" routerLink="/home" routerDirection="back">
        <img src='../../assets/back-dark.svg' />
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button class="notification">
        <ion-icon name="notifications-outline" color="dark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1 class="title">Mis Pedidos</h1>

  <div class="order-items">
    <ion-card mode="ios">
      <ion-card-content>
        <div class="item-img">
          <img src='../../assets/images/photos/photo8.jpg' />
        </div>

        <div class="item-info">
          <p>Auto Batman Return</p>
          <p>Mattel</p>
          <p>$32.000</p>

          <ion-button expand="block" class="main-button">Pedir</ion-button>
        </div>
      </ion-card-content>
    </ion-card>
    <ion-card mode="ios">
      <ion-card-content>
        <div class="item-img">
          <img src='../../assets/images/photos/photo13.jpg' />
        </div>

        <div class="item-info">
          <p>Set de Maquillaje</p>
          <p>PRINCESS PARTY</p>
          <p>$14.900</p>

          <ion-button expand="block" class="main-button">Pedir</ion-button>
        </div>
      </ion-card-content>
    </ion-card>
    <ion-card mode="ios">
      <ion-card-content>
        <div class="item-img">
          <img src='../../assets/images/photos/photo40.jpg' />
        </div>

        <div class="item-info">
          <p>Notebook HP HP Laptop 15-DY2503LA </p>
          <p>HP</p>
          <p>$534.00</p>

          <ion-button expand="block" class="main-button">Pedir</ion-button>
        </div>
      </ion-card-content>
    </ion-card>
    <ion-card mode="ios">
      <ion-card-content>
        <div class="item-img">
          <img src='../../assets/images/photos/photo25.jpg' />
        </div>

        <div class="item-info">
          <p>Poleron Mujer</p>
          <p>Gucci</p>
          <p>$34.000</p>

          <ion-button expand="block" class="main-button">Pedir</ion-button>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
