<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button class="backbtn" routerLink="/home" routerDirection="back">
        <img src="../../assets/back.svg" />
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <div class="pages">
    <div data-page="photos" class="page no-toolbar no-navbar">
      <div class="page-content">
                <h2 class="page_title">Categorias</h2>
  
                <div class="photo-categories">
                      <a href="#tab1p" class="tab-link active category-link">Juguetes</a>
                      <a href="#tab2p" class="tab-link category-link">Comida</a>
                      <a href="#tab3p" class="tab-link category-link">Ropa</a>
                      <a href="#tab4p" class="tab-link category-link">Estética</a>
                      <a href="#tab5p" class="tab-link category-link">Tecnología</a>
                      <a href="#tab6p" class="tab-link category-link">Bebestible</a>
                </div>
  
                
                <div class="tabs-animated-wrap photos_tabs">
                      <div class="tabs">
                            <div id="tab1p" class="tab active">
                               <ul id="photoslist" class="photo_gallery_13">
                                  <li><a rel="gallery-3" href="assets/images/photos/photo1.jpg" title="Camión" class="swipebox"><img src="assets/images/photos/photo1.jpg" alt="image"/><span>Camión </span></a></li>
                                  <li><a rel="gallery-3" href="assets/images/photos/photo2.jpg" title="Moto Juguete" class="swipebox"><img src="assets/images/photos/photo2.jpg" alt="image"/><span>Moto Juguete</span></a></li>
                                  <li><a rel="gallery-3" href="assets/images/photos/photo3.jpg" title="Andador" class="swipebox"><img src="assets/images/photos/photo3.jpg" alt="image"/><span>Andador</span></a></li>
                                  <li><a rel="gallery-3" href="assets/images/photos/photo4.jpg" title="Juguetes varios" class="swipebox"><img src="assets/images/photos/photo4.jpg" alt="image"/><span>Juguetes varios</span></a></li>
                                  <li><a rel="gallery-3" href="assets/images/photos/photo5.jpg" title="Correpasillos" class="swipebox"><img src="assets/images/photos/photo5.jpg" alt="image"/><span>Correpasillos</span></a></li>
                                  <li><a rel="gallery-3" href="assets/images/photos/photo6.jpg" title="Photo title" class="swipebox"><img src="assets/images/photos/photo6.jpg" alt="image"/><span>Dinosaurios</span></a></li>
                                  <li><a rel="gallery-3" href="assets/images/photos/photo7.jpg" title="Photo title" class="swipebox"><img src="assets/images/photos/photo7.jpg" alt="image"/><span>Bicicleta niño</span></a></li>
                                  <li><a rel="gallery-3" href="assets/images/photos/photo8.jpg" title="Photo title" class="swipebox"><img src="assets/images/photos/photo8.jpg" alt="image"/><span>Auto Batman</span></a></li>
                                  <li><a rel="gallery-3" href="assets/images/photos/photo9.jpg" title="Photo title" class="swipebox"><img src="assets/images/photos/photo9.jpg" alt="image"/><span>Grogu cordel</span></a></li>
                                  <li><a rel="gallery-3" href="assets/images/photos/photo10.jpg" title="Photo title" class="swipebox"><img src="assets/images/photos/photo10.jpg" alt="image"/><span>Autos Hotweel</span></a></li>
                                  <li><a rel="gallery-3" href="assets/images/photos/photo11.jpg" title="Photo title" class="swipebox"><img src="assets/images/photos/photo11.jpg" alt="image"/><span>Teléfono Bebé</span></a></li>
                                  <li><a rel="gallery-3" href="assets/images/photos/photo12.jpg" title="Photo title" class="swipebox"><img src="assets/images/photos/photo12.jpg" alt="image"/><span>Inflador de Globos</span></a></li>
                                  <li><a rel="gallery-3" href="assets/images/photos/photo13.jpg" title="Photo title" class="swipebox"><img src="assets/images/photos/photo13.jpg" alt="image"/><span>Set de Maquillaje Niñas</span></a></li>
                                  <li><a rel="gallery-3" href="assets/images/photos/photo14.jpg" title="Photo title" class="swipebox"><img src="assets/images/photos/photo14.jpg" alt="image"/><span>Play Doo</span></a></li>
                                  <li><a rel="gallery-3" href="assets/images/photos/photo15.jpg" title="Photo title" class="swipebox"><img src="assets/images/photos/photo15.jpg" alt="image"/><span>Polly pocket</span></a></li> 
                                 <div class="clearleft"></div>
                                </ul>   
                            </div>
      
                            <div id="tab2p" class="tab">
                               <ul id="photoslist" class="photo_gallery_13">
                                  <li><a rel="gallery-3" href="assets/images/photos/photo16.jpg" title="Photo title" class="swipebox"><img src="assets/images/photos/photo16.jpg" alt="image"/><span>Pollo con Arroz</span></a></li>
                                  <li><a rel="gallery-3" href="assets/images/photos/photo17.jpg" title="Photo title" class="swipebox"><img src="assets/images/photos/photo17.jpg" alt="image"/><span>Charquican</span></a></li>
                                  <li><a rel="gallery-3" href="assets/images/photos/photo18.jpg" title="Photo title" class="swipebox"><img src="assets/images/photos/photo18.jpg" alt="image"/><span>Carne al Jugo con Papas fritas</span></a></li>
                                  <li><a rel="gallery-3" href="assets/images/photos/photo19.jpg" title="Photo title" class="swipebox"><img src="assets/images/photos/photo19.jpg" alt="image"/><span>Cazuela</span></a></li>
                                  <li><a rel="gallery-3" href="assets/images/photos/photo20.jpg" title="Photo title" class="swipebox"><img src="assets/images/photos/photo20.jpg" alt="image"/><span>Arroz y Pollo</span></a></li>
                                  <li><a rel="gallery-3" href="assets/images/photos/photo21.jpg" title="Photo title" class="swipebox"><img src="assets/images/photos/photo21.jpg" alt="image"/><span>Ají relleno con arroz</span></a></li>
                                  <li><a rel="gallery-3" href="assets/images/photos/photo22.jpg" title="Photo title" class="swipebox"><img src="assets/images/photos/photo22.jpg" alt="image"/><span>Lentejas</span></a></li>
                                  <li><a rel="gallery-3" href="assets/images/photos/photo23.jpg" title="Photo title" class="swipebox"><img src="assets/images/photos/photo23.jpg" alt="image"/><span>Chorrillana</span></a></li>
                                  <li><a rel="gallery-3" href="assets/images/photos/photo24.jpg" title="Photo title" class="swipebox"><img src="assets/images/photos/photo24.jpg" alt="image"/><span>Fideos a la bolognesa</span></a></li>
                                 <div class="clearleft"></div>
                                </ul> 
                            </div> 
                            
                            <div id="tab3p" class="tab">
                               <ul id="photoslist" class="photo_gallery_13">
                                  <li><a rel="gallery-3" href="assets/images/photos/photo25.jpg" title="Photo title" class="swipebox"><img src="assets/images/photos/photo25.jpg" alt="image"/><span>Poleron</span></a></li>
                                  <li><a rel="gallery-3" href="assets/images/photos/photo26.jpg" title="Photo title" class="swipebox"><img src="assets/images/photos/photo26.jpg" alt="image"/><span>Pantalon Buzo</span></a></li>
                                  <li><a rel="gallery-3" href="assets/images/photos/photo25.jpg" title="Photo title" class="swipebox"><img src="assets/images/photos/photo25.jpg" alt="image"/><span>Poleron</span></a></li>
                                  <li><a rel="gallery-3" href="assets/images/photos/photo26.jpg" title="Photo title" class="swipebox"><img src="assets/images/photos/photo26.jpg" alt="image"/><span>Pantalon Buzo</span></a></li>
                                  <li><a rel="gallery-3" href="assets/images/photos/photo25.jpg" title="Photo title" class="swipebox"><img src="assets/images/photos/photo25.jpg" alt="image"/><span>Poleron</span></a></li>
                                  <li><a rel="gallery-3" href="assets/images/photos/photo26.jpg" title="Photo title" class="swipebox"><img src="assets/images/photos/photo26.jpg" alt="image"/><span>Pantalon Buzo</span></a></li>
  
                                 <div class="clearleft"></div>
                                </ul> 
                            </div>
                            
                            <div id="tab4p" class="tab">
                              <ul id="photoslist" class="photo_gallery_13">
                                 <li><a rel="gallery-3" href="assets/images/photos/photo30.jpg" title="Photo title" class="swipebox"><img src="assets/images/photos/photo30.jpg" alt="image"/><span>Máquina envejecimiento</span></a></li>
                                 <li><a rel="gallery-3" href="assets/images/photos/photo31.jpg" title="Photo title" class="swipebox"><img src="assets/images/photos/photo31.jpg" alt="image"/><span>Set cuidado piel</span></a></li>
                                 <li><a rel="gallery-3" href="assets/images/photos/photo30.jpg" title="Photo title" class="swipebox"><img src="assets/images/photos/photo30.jpg" alt="image"/><span>Máquina envejecimiento</span></a></li>
                                 <li><a rel="gallery-3" href="assets/images/photos/photo31.jpg" title="Photo title" class="swipebox"><img src="assets/images/photos/photo31.jpg" alt="image"/><span>Set cuidado piel</span></a></li>
                                 <li><a rel="gallery-3" href="assets/images/photos/photo30.jpg" title="Photo title" class="swipebox"><img src="assets/images/photos/photo30.jpg" alt="image"/><span>Máquina envejecimiento</span></a></li>
                                 <li><a rel="gallery-3" href="assets/images/photos/photo31.jpg" title="Photo title" class="swipebox"><img src="assets/images/photos/photo31.jpg" alt="image"/><span>Set cuidado piel</span></a></li>
                                <div class="clearleft"></div>
                               </ul> 
                           </div>
  
                           <div id="tab5p" class="tab">
                            <ul id="photoslist" class="photo_gallery_13">
                               <li><a rel="gallery-3" href="assets/images/photos/photo40.jpg" title="Photo title" class="swipebox"><img src="assets/images/photos/photo40.jpg" alt="image"/><span>Pc, Computador</span></a></li>
                               <li><a rel="gallery-3" href="assets/images/photos/photo41.jpg" title="Photo title" class="swipebox"><img src="assets/images/photos/photo41.jpg" alt="image"/><span>SmartTV</span></a></li>
                               <li><a rel="gallery-3" href="assets/images/photos/photo40.jpg" title="Photo title" class="swipebox"><img src="assets/images/photos/photo40.jpg" alt="image"/><span>Pc, Computador</span></a></li>
                               <li><a rel="gallery-3" href="assets/images/photos/photo41.jpg" title="Photo title" class="swipebox"><img src="assets/images/photos/photo41.jpg" alt="image"/><span>SmartTV</span></a></li>
                               <li><a rel="gallery-3" href="assets/images/photos/photo40.jpg" title="Photo title" class="swipebox"><img src="assets/images/photos/photo40.jpg" alt="image"/><span>Pc, Computador</span></a></li>
                               <li><a rel="gallery-3" href="assets/images/photos/photo41.jpg" title="Photo title" class="swipebox"><img src="assets/images/photos/photo41.jpg" alt="image"/><span>SmartTV</span></a></li>
  
                              <div class="clearleft"></div>
                             </ul> 
                         </div>
  
                         <div id="tab6p" class="tab">
                          <ul id="photoslist" class="photo_gallery_13">
                             <li><a rel="gallery-3" href="assets/images/photos/photo50.jpg" title="Photo title" class="swipebox"><img src="assets/images/photos/photo50.jpg" alt="image"/><span>Pisco</span></a></li>
                             <li><a rel="gallery-3" href="assets/images/photos/photo51.jpg" title="Photo title" class="swipebox"><img src="assets/images/photos/photo51.jpg" alt="image"/><span>Gin</span></a></li>
                             <li><a rel="gallery-3" href="assets/images/photos/photo52.jpg" title="Photo title" class="swipebox"><img src="assets/images/photos/photo52.jpg" alt="image"/><span>Ron</span></a></li>
                             <li><a rel="gallery-3" href="assets/images/photos/photo50.jpg" title="Photo title" class="swipebox"><img src="assets/images/photos/photo50.jpg" alt="image"/><span>Pisco</span></a></li>
                             <li><a rel="gallery-3" href="assets/images/photos/photo51.jpg" title="Photo title" class="swipebox"><img src="assets/images/photos/photo51.jpg" alt="image"/><span>Gin</span></a></li>
                             <li><a rel="gallery-3" href="assets/images/photos/photo52.jpg" title="Photo title" class="swipebox"><img src="assets/images/photos/photo52.jpg" alt="image"/><span>Ron</span></a></li>

                           </ul> 
                       </div> 
                      </div>
                </div> 
      </div>
    </div>
  </div>
</ion-content>

