<ion-content color="dark">
  <ion-header>
    <ion-toolbar>
      <div class="homepage">
        <ion-title>
          <div class="logo">
            <h1>LOS PEDIDOS</h1><span>DE LA VECINDAD</span>
          </div>
        </ion-title>
        <nav class="main-nav">
          <ul>
            <li><a href="#"><img src="assets/images/icons/blue/user.png" alt="" title="" /><span>LOGIN</span></a></li>
            <li><a routerLink="#"><img src="assets/images/icons/blue/settings.png" alt=""
                  title="" /><span>CONFIGURACIONES</span></a></li>
            <li><a routerLink="/ventas"><img src="assets/images/icons/blue/shop.png" alt=""
                  title="" /><span>VENTAS</span></a></li>
            <li><a routerLink="/mispedidos" data-panel="left" class="open-panel"><img
                  src="assets/images/icons/blue/cart.png" alt="" title="" /><span>PEDIDOS</span>
                <div class="cartitems">3</div>
              </a></li>
            <li><a routerLink="/anuncios" data-panel="left" class="open-panel"><img
                  src="assets/images/icons/blue/blog.png" alt="" title="" /><span>AVISOS</span></a></li>
            <li><a routerLink="/categorias"><img src="assets/images/icons/blue/photos.png" alt=""
                  title="" /><span>GALERIA</span></a></li>
            <li><a href="https://api.whatsapp.com/send?phone=56947618468" class="external"><img
                  src="assets/images/icons/blue/phone.png" alt="" title="" /><span>CONTÁCTENOS</span></a></li>
            <li><a routerLink="/mensajes"><img src="assets/images/icons/blue/contact.png" alt=""
                  title="" /><span>MENSAJES</span></a></li>
          </ul>
        </nav>
      </div>
    </ion-toolbar>
  </ion-header>
</ion-content>