<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="primary" class="backbtn" routerLink="/home" routerDirection="back">
        <img src='../../assets/back-dark.svg' />
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="pages">
    <div data-page="contact" class="page no-toolbar no-navbar">
      <div class="page-content">
        <h2 class="page_title">CONTÁCTENOS</h2>
        <div class="page_content">
          <h2 id="Note"></h2>
          <div class="contactform">
            <form class="cmxform" id="ContactForm" method="post" action="">
              <div class="form_row">
                <div class="form_row_icon"><img src="assets/images/icons/blue/user.png" alt="" title="" /></div>
                <input type="text" name="ContactName" id="ContactName" value="" class="form_input required"
                  placeholder="nombre" />
              </div>
              <div class="form_row">
                <div class="form_row_icon"><img src="assets/images/icons/blue/contact.png" alt="" title="" /></div>
                <input type="text" name="ContactEmail" id="ContactEmail" value="" class="form_input required email"
                  placeholder="email" />
              </div>
              <div class="form_row">
                <div class="form_row_icon"><img src="assets/images/icons/blue/message.png" alt="" title="" /></div>
                <textarea name="ContactComment" id="ContactComment" class="form_textarea textarea required" rows=""
                  cols="">Aqui su mensaje</textarea>
              </div>
              <input type="submit" name="submit" class="form_submit" id="submit" value="ENVIAR" />
              <input class="" type="hidden" name="to" value="juliohidalgo@gmail.com" />
              <input class="" type="hidden" name="subject" value="Contact form message" />
              <label id="loader" style="display:none;"><img src="assets/images/loader.gif" alt="Loading..."
                  id="LoadingGraphic" /></label>
            </form>
          </div>

          <h3>Nuestra Locación</h3>
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3330.7853281615835!2d-71.69199562513536!3d-33.402764395070285!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x966216b78d0e6d89%3A0x6f7fa43ca5e60977!2sNueva%20Centinela%2024%2C%20El%20Quisco%2C%20Valpara%C3%ADso!5e0!3m2!1ses!2scl!4v1688613665440!5m2!1ses!2scl"
            width="100%" height="200" frameborder="0" style="border:0"></iframe>

          <div class="contact_info">
            Direccion: Nueva Centinela 24, El Quisco, Valparaíso <br />
            Email: .cl <br />
            Fono: +569 47618468
          </div>
          <div class="call_button"><a href="https://api.whatsapp.com/send?phone=56947618468" class="external">Llamenos
              Ahora shaaa!</a></div>
          <div class="clear"></div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
<ion-footer translucent="true" class="ion-no-border" mode="md">
  <ion-toolbar color="translucent">
    <ion-button expand="block" class="login-button" routerLink="/home" routerDirection="back">Volver al
      Home</ion-button>
  </ion-toolbar>
</ion-footer>