<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="primary" class="backbtn" routerLink="/home" routerDirection="back">
        <img src="../../assets/back-dark.svg" />
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="item-img">
    <img src="../../assets/images/photos/photo8.jpg" />
  </div>

  <div class="ion-padding-vertical">
    <h1 class="item-name">Auto Batman Return</h1>

    <h4 class="price">
      $32.000
    </h4>
  </div>

  <div class="seperator">
    <hr>
  </div>

  <div class="review">
    <ion-row>
      <ion-col size="6">
        <div class="rating">
          4.5
        </div>

        Bkn ¡
      </ion-col>
      <ion-col size="6">
        <div class="count">49 Vistas</div>
      </ion-col>
    </ion-row>
  </div>

  <div class="seperator">
    <hr>
  </div>

  <div class="description">
    <h5>Descripcion</h5>

    <p>
      Batimovil DC Comics Original Batmobile de Batman, con ruedas funcionales y detalles realistas.
    </p>

  </div>

  <div class="seperator">
    <hr>
  </div>

  <div class="seperator">
    <hr>
  </div>

</ion-content>
<ion-footer>
  <ion-row>
    <ion-col size="6">
      <ion-button class="agregar-button" expand="full" color="light">Agregar al Carro</ion-button>
    </ion-col>
    <ion-col size="6">
      <ion-button class="comprar-button" expand="full">Comprar</ion-button>
    </ion-col>
  </ion-row>
</ion-footer>